/*****
 ***
 ***   Theme: Button
 ***
*****/

[class*="button"] {
    display: inline-block;
    margin-block: var(--fixed-space-md);
}

[class*="button"]:not(:only-of-type):first-child {
    margin-right: var(--fixed-space-lg);
}

[class*="button-filled"],
[class*="button-outline"] {
    padding: var(--layout-space-xs) var(--layout-space-sm);
}

/*****
 ***
 ***   Base: Blockquote
 ***
*****/

blockquote span {
    display: block;
}

blockquote span::before, q::before {
    content: "\"";
}

blockquote span::after, q::after {
    content: "\"";
}

blockquote cite::before {
    margin-right: var(--layout-space-xs);
    content: "-";
}

/*****
 ***
 ***   Base: Figure, Figcaption & Image
 ***
*****/

figure {
    text-align: left;
}

figcaption {
    display: inline-block;
    padding: var(--fixed-space-md) var(--fixed-space-lg);
}

img {
    display: block;
    object-fit: cover;
}

figure img {
    width: 100%;
}

figure a img {
    padding: var(--fixed-space-md);
}

figure:has(a) {
    text-align: center;
}

figure:has(a) figcaption {
    padding: var(--fixed-space-sm) var(--fixed-space-md);
    margin-top: var(--layout-space-xs);
}

figure:has(img + figcaption) figcaption {
    display: block;
}

figure a:focus {
    outline-width: var(--fixed-space-xs);
    outline-offset: 0rem;
}

/*****
 ***
 ***   Base: List
 ***
*****/

.content__row ul {
    margin-left: 2rem;
    list-style: disc;
}

.content__row ol {
    margin-left: 2rem;
    list-style: decimal;
}

:where(.header__row, .footer__row) ul,
:where(.header__row, .footer__row) ol {
    list-style: none;
}

/*****
 ***
 ***   Work In Progress
 ***
*****/

code, mark {
    padding: var(--fixed-space-xs) var(--fixed-space-sm);
}