/*****
 ***
 ***   Base: Blockquote
 ***
*****/

blockquote span {
    display: block;
}

blockquote span::before, q::before {
    content: "\"";
}

blockquote span::after, q::after {
    content: "\"";
}

blockquote cite::before {
    margin-right: var(--layout-space-xs);
    content: "-";
}

/*****
 ***
 ***   Base: Figure, Figcaption & Image
 ***
*****/

figure {
    text-align: left;
}

figure img {
    width: 100%;
}

figcaption {
    display: inline-block;
     margin-top: var(--layout-space-xs);
}

img {
    display: block;
    object-fit: cover;
}

/*****
 ***
 ***   Base: Gallery
 ***
*****/

.gallery-item figure {
    text-align: center;
}

.gallery-item figure img {
    padding: var(--fixed-space-md);
}

.gallery-item figure figcaption {
    padding: var(--fixed-space-xs) var(--fixed-space-md);
}

/*****
 ***
 ***   Base: List
 ***
*****/

.content__row ul {
    margin-left: 2rem;
    list-style: disc;
}

.content__row ol {
    margin-left: 2rem;
    list-style: decimal;
}

:where(.header__row, .footer__row) ul,
:where(.header__row, .footer__row) ol {
    list-style: none;
}

/*****
 ***
 ***   Work In Progress
 ***
*****/

code, mark {
    padding: var(--fixed-space-xs) var(--fixed-space-sm);
}