/*****
 ***
 ***   Theme: Layout
 ***
*****/

.header__rows .row.flex,
.footer__rows .row.flex {
    flex-direction: row;
    justify-content: space-between;
}

/*****
 ***
 ***   Theme: Color
 ***
*****/

.page {
    background-color: white;
}

.page > *:nth-child(odd) {
    background-color: darkcyan;
}

.col:nth-child(even) {
    background-color: lightsteelblue;
}

.col:nth-child(odd) {
    background-color: lightblue;
}