/*****
 ***
 ***   Theme: Layout
 ***
*****/

.header__row .flex,
.footer__row .flex {
    flex-direction: row;
    justify-content: space-between;
}

/*****
 ***
 ***   Theme: Color
 ***
*****/

.page {
    background-color: white;
}

.page > *:nth-child(odd) {
    background-color: darkcyan;
}

.grid [class*="col"]:nth-child(even) {
    background-color: lightsteelblue;
}

.grid [class*="col"]:nth-child(odd) {
    background-color: lightblue;
}

/*****
 ***
 ***   Theme: Nav
 ***
*****/

nav {
    display: flex;
    gap: var(--layout-space-md);
}

/*****
 ***
 ***   Theme: Footer
 ***
*****/

.page__footer > div:nth-child(even) {
    background-color: lightcyan;
}

.page__footer > div:nth-child(even) .flex {
    padding-block: var(--layout-space-sm);
}