/*****
 ***
 ***   Theme: Layout
 ***
*****/

.header__row .flex,
.footer__row .flex {
    flex-direction: row;
    justify-content: space-between;
}

/*****
 ***
 ***   Theme: Color
 ***
*****/

body {
    background-color: var(--color-scheme-body);
    color: var(--color-scheme-text-base);
}

.page__header {
    background-color: var(--color-neutral-20);
}

.page__footer > div:nth-child(even) {
    background-color: var(--color-neutral-10);
}

.page__footer > div:nth-child(odd) {
    background-color: var(--color-neutral-20);
}

.content__row.show-grid .grid .col:nth-child(even) {
    background-color: var(--color-neutral-30);
}

.content__row.show-grid .grid .col:nth-child(odd) {
    background-color: var(--color-neutral-50);
}

/*****
 ***
 ***   Theme: Nav
 ***
*****/

nav {
    display: flex;
    gap: var(--layout-space-md);
}

/*****
 ***
 ***   Theme: Footer
 ***
*****/

.page__footer > div:nth-child(even) .flex {
    padding-block: var(--layout-space-sm);
}

/*****
 ***
 ***   Theme: Text Colors
 ***
*****/

.bg-neutral-10,
.bg-neutral-20,
.bg-neutral-30,
.bg-neutral-40 {
    color: var(--color-scheme-text-base);
}

.bg-primary-30,
.bg-primary-40,
.bg-primary-50,
.bg-secondary-30,
.bg-secondary-40,
.bg-secondary-50,
.bg-neutral-60,
.bg-neutral-70,
.bg-neutral-50  {
    color: var(--color-scheme-text-contrast);
}

.bg-primary-60,
.bg-primary-70,
.bg-secondary-70,
.bg-secondary-60,
.bg-accent-60,
.bg-accent-70 {
    color: var(--white);
}

.bg-primary-10,
.bg-primary-20,
.bg-secondary-10,
.bg-secondary-20,
.bg-accent-10,
.bg-accent-20,
.bg-accent-30,
.bg-accent-40,
.bg-accent-50 {
    color: var(--black);
}

/*****
 ***
 ***   Theme: Blockquote
 ***
*****/

blockquote span,
cite {
    color: var(--color-neutral-70);
}

/*****
 ***
 ***   Theme: Link
 ***
*****/

a:link,
a:visited {
    color: var(--color-primary-40);
}

a:hover {
    color: var(--color-primary-50);
}

a:focus {
    color: var(--color-primary-30);
    outline-color: var(--color-primary-40);
    outline-style: solid;
}

.text-accent:link {
    color: var(--color-accent-40);
}

.text-accent:hover {
    color: var(--color-accent-50);
}

.text-contrast:link {
    color: var(--color-scheme-text-base);
}

.text-neutral:link {
    color: var(--color-neutral-60);
}

.text-neutral:hover,
.text-contrast:hover {
    color: var(--color-neutral-50);
}

/*****
 ***
 ***   Theme: Figure, Figcaption & Image
 ***
*****/

img {
    background-color: var(--color-neutral-20);
}

figcaption {
    color: var(--color-neutral-60);
}

figure a {
    display: block;
}

figure figcaption {
    background-color: var(--color-neutral-20);
}

figure a:hover img,
figure a:hover + figcaption,
figure:has(img + figcaption) figcaption {
    background-color: var(--color-neutral-30);
}

figure a:focus {
    outline-color: var(--color-primary-40);
}

/*****
 ***
 ***   Work In Progress
 ***
*****/

code {
    color: var(--color-scheme-text-base);
}

.button {
    display: inline-block;
    padding: var(--layout-space-xs) var(--layout-space-sm);
    border: 0.2rem solid;
    margin-block: var(--fixed-space-sm);
    text-decoration: none;
}

/*** ***/

.filled-primary:link {
    border-color: var(--color-primary-40);
    background-color: var(--color-primary-40);
    color: var(--color-scheme-text-contrast);
}

.outline-primary:link {
    border-color: var(--color-primary-40);
    background-color: transparent;
    color: var(--color-primary-40);
}

.filled-primary:hover,
.outline-primary:hover {
    border-color: var(--color-primary-50);
    background-color: var(--color-primary-50);
    color: var(--color-scheme-text-contrast);
}

/*** ***/

.filled-accent:link {
    border-color: var(--color-accent-40);
    background-color: var(--color-accent-40);
    color: var(--color-scheme-text-contrast);
}

.outline-accent:link {
    border-color: var(--color-accent-40);
    background-color: transparent;
    color: var(--color-accent-40);
}

.filled-accent:hover,
.outline-accent:hover {
    border-color: var(--color-accent-50);
    background-color: var(--color-accent-50);
    color: var(--color-scheme-text-contrast);
}

/*** ***/

.filled-neutral:link {
    border-color: var(--color-neutral-20);
    background-color: var(--color-neutral-20);
    color: var(--color-neutral-60);
}

.outline-neutral:link {
    border-color: var(--color-neutral-20);
    background-color: transparent;
    color: var(--color-neutral-60);
}

.filled-neutral:hover,
.outline-neutral:hover {
    border-color: var(--color-neutral-30);
    background-color: var(--color-neutral-30);
    color: var(--color-scheme-text-base);
}

/*** ***/

.filled-contrast:link {
    border-color: var(--color-neutral-60);
    background-color: var(--color-neutral-60);
    color: var(--color-neutral-10);
}

.outline-contrast:link {
    border-color: var(--color-neutral-60);
    background-color: transparent;
    color: var(--color-neutral-70);
}

.filled-contrast:hover,
.outline-contrast:hover {
    border-color: var(--color-neutral-50);
    background-color: var(--color-neutral-50);
    color: var(--color-neutral-10);
}

/*** ***/

.colors {
    display: flex;
    flex-wrap: wrap;
}

.colors + .colors {
    margin: 0;
}

.colors > * {
    height: 6.4rem;
    width: 14.285%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-xs, 1.3rem);
}

@media (prefers-color-scheme: dark) {

    code {
        background-color: var(--color-neutral-40);
    }
    
    mark {
        background-color: var(--color-accent-40);
        color: var(--color-accent-70);
    }
}

@media (prefers-color-scheme: light) {

    code {
        background-color: var(--color-neutral-30);
    }
    
    mark {
        background-color: var(--color-accent-30);
        color: var(--color-accent-70);
    }
}