/*****
 ***
 ***   Typography: Font, Size & Color
 ***
*****/

body {
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    line-height: var(--line-height-md);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-heading);
    font-weight: var(--font-weight-heading);
    line-height: var(--line-height-sm);
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: var(--font-size-h4);
}

h5 {
    font-size: var(--font-size-h5);
}

h6 {
    font-size: var(--font-size-h6);
}

p, li {
    font-size: var(--font-size-md);
}

strong {
    font-weight: var(--font-weight-strong);
}

a:link {
    font-weight: var(--font-weight-link);
}

i, q {
    font-style: italic;
}

u {
    text-decoration: underline;
}

s {
    text-decoration: line-through;
}

small {
    font-size: var(--font-size-sm);
}

/*****
 ***
 ***   Typography: Blockquote
 ***
*****/

blockquote span {
    font-style: italic;
}

blockquote span {
    font-size: clamp(2.2rem, 1.5vw + var(--relative-size), 2.8rem);
}

blockquote cite {
    font-size: var(--font-size-lg);
}

/*****
 ***
 ***   Typography: Space
 ***
*****/

.col > * + * {
	margin-top: var(--content-space-lg);
}

.col > p + p {
	margin-top: var(--content-space-md);
}

.col > :is(h1, h2) + * {
	margin-top: var(--content-space-md);
}

.col > :is(h3, h4) + * {
	margin-top: var(--content-space-sm);
}

.col > :is(h5, h6) + * {
	margin-top: var(--content-space-xs);
}