/*****
 ***
 ***    Utilities: Aspect ratio 
 ***
*****/

.ratio-square {
    aspect-ratio: 1 / 1;
}

.ratio-classic {
    aspect-ratio: 4 / 3;
}

.ratio-rectangle {
    aspect-ratio: 4 / 2;
}

.ratio-wide {
    aspect-ratio: 16 / 9;
}

.ratio-cinema {
    aspect-ratio: 2.35 / 1;
}

.ratio-panorama {
    aspect-ratio: 4 / 1;
}

[aspect-ratio="1/1"] {
    aspect-ratio: 1 / 1;
}

[aspect-ratio="2/1"] {
    aspect-ratio: 2 / 1;
}

[aspect-ratio="3/1"] {
    aspect-ratio: 3 / 1;
}

[aspect-ratio="3/2"] {
    aspect-ratio: 3 / 2;
}

[aspect-ratio="4/1"] {
    aspect-ratio: 4 / 1;
}

[aspect-ratio="4/3"] {
    aspect-ratio: 4 / 3;
}

[aspect-ratio="5/1"] {
    aspect-ratio: 5 / 1;
}

[aspect-ratio="5/4"] {
    aspect-ratio: 5 / 4;
}

[aspect-ratio="6/1"] {
    aspect-ratio: 6 / 1;
}

[aspect-ratio="16/9"] {
    aspect-ratio: 16 / 9;
}

[aspect-ratio="16/10"] {
    aspect-ratio: 16 / 10;
}

/*****
 ***
 ***    Utilities: Background Colors
 ***
*****/

.bg-primary-10 {
    background-color: var(--color-primary-10);
}

.bg-primary-20 {
    background-color: var(--color-primary-20);
}

.bg-primary-30 {
    background-color: var(--color-primary-30);
}

.bg-primary-40 {
    background-color: var(--color-primary-40);
}

.bg-primary-50 {
    background-color: var(--color-primary-50);
}

.bg-primary-60 {
    background-color: var(--color-primary-60);
}

.bg-primary-70 {
    background-color: var(--color-primary-70);
}

.bg-secondary-10 {
    background-color: var(--color-secondary-10);
}

.bg-secondary-20 {
    background-color: var(--color-secondary-20);
}

.bg-secondary-30 {
    background-color: var(--color-secondary-30);
}

.bg-secondary-40 {
    background-color: var(--color-secondary-40);
}

.bg-secondary-50 {
    background-color: var(--color-secondary-50);
}

.bg-secondary-60 {
    background-color: var(--color-secondary-60);
}

.bg-secondary-70 {
    background-color: var(--color-secondary-70);
}

.bg-accent-10 {
    background-color: var(--color-accent-10);
}

.bg-accent-20 {
    background-color: var(--color-accent-20);
}

.bg-accent-30 {
    background-color: var(--color-accent-30);
}

.bg-accent-40 {
    background-color: var(--color-accent-40);
}

.bg-accent-50 {
    background-color: var(--color-accent-50);
}

.bg-accent-60 {
    background-color: var(--color-accent-60);
}

.bg-accent-70 {
    background-color: var(--color-accent-70);
}

.bg-neutral-10 {
    background-color: var(--color-neutral-10);
}

.bg-neutral-20 {
    background-color: var(--color-neutral-20);
}

.bg-neutral-30 {
    background-color: var(--color-neutral-30);
}

.bg-neutral-40 {
    background-color: var(--color-neutral-40);
}

.bg-neutral-50 {
    background-color: var(--color-neutral-50);
}

.bg-neutral-60 {
    background-color: var(--color-neutral-60);
}

.bg-neutral-70 {
    background-color: var(--color-neutral-70);
}

/*****
 ***
 ***   Utilities: Layout
 ***
*****/

.flex {
    display: flex;
}

.grid {
    display: grid;
}

/*****
 ***
 ***   Utilities: List
 ***
*****/

ul.list-style-none,
ol.list-style-none {
    margin-left: 0;
    list-style: none;
}

/*****
 ***
 ***   Utilities: Margin
 ***
*****/

.mx-c-xs {
    margin-inline: var(--content-space-xs);
}

.mx-c-sm {
    margin-inline: var(--content-space-sm);
}

.mx-c-md {
    margin-inline: var(--content-space-md);
}

.mx-c-lg {
    margin-inline: var(--content-space-lg);
}

.mx-c-xl {
    margin-inline: var(--content-space-xl);
}

.my-c-xs {
    margin-inline: var(--content-space-xs);
}

.my-c-sm {
    margin-block: var(--content-space-sm);
}

.my-c-md {
    margin-block: var(--content-space-md);
}

.my-c-lg {
    margin-block: var(--content-space-lg);
}

.my-c-xl {
    margin-block: var(--content-space-xl);
}

.m-c-xs {
    margin: var(--content-space-xs);
}

.m-c-sm {
    margin: var(--content-space-sm);
}

.m-c-md {
    margin: var(--content-space-md);
}

.m-c-lg {
    margin: var(--content-space-lg);
}

.m-c-xl {
    margin: var(--content-space-xl);
}

.mx-f-xs {
    margin-inline: var(--fixed-space-xs);
}

.mx-f-sm {
    margin-inline: var(--fixed-space-sm);
}

.mx-f-md {
    margin-inline: var(--fixed-space-md);
}

.mx-f-lg {
    margin-inline: var(--fixed-space-lg);
}

.mx-f-xl {
    margin-inline: var(--fixed-space-xl);
}

.my-f-xs {
    margin-inline: var(--fixed-space-xs);
}

.my-f-sm {
    margin-block: var(--fixed-space-sm);
}

.my-f-md {
    margin-block: var(--fixed-space-md);
}

.my-f-lg {
    margin-block: var(--fixed-space-lg);
}

.my-f-xl {
    margin-block: var(--fixed-space-xl);
}

.m-f-xs {
    margin: var(--fixed-space-xs);
}

.m-f-sm {
    margin: var(--fixed-space-sm);
}

.m-f-md {
    margin: var(--fixed-space-md);
}

.m-f-lg {
    margin: var(--fixed-space-lg);
}

.m-f-xl {
    margin: var(--fixed-space-xl);
}

.mx-l-xs {
    margin-inline: var(--layout-space-xs);
}

.mx-l-sm {
    margin-inline: var(--layout-space-sm);
}

.mx-l-md {
    margin-inline: var(--layout-space-md);
}

.mx-l-lg {
    margin-inline: var(--layout-space-lg);
}

.mx-l-xl {
    margin-inline: var(--layout-space-xl);
}

.my-l-xs {
    margin-inline: var(--layout-space-xs);
}

.my-l-sm {
    margin-block: var(--layout-space-sm);
}

.my-l-md {
    margin-block: var(--layout-space-md);
}

.my-l-lg {
    margin-block: var(--layout-space-lg);
}

.my-l-xl {
    margin-block: var(--layout-space-xl);
}

.m-l-xs {
    margin: var(--layout-space-xs);
}

.m-l-sm {
    margin: var(--layout-space-sm);
}

.m-l-md {
    margin: var(--layout-space-md);
}

.m-l-lg {
    margin: var(--layout-space-lg);
}

.m-l-xl {
    margin: var(--layout-space-xl);
}

/*****
 ***
 ***   Utilities: Padding
 ***
*****/

.px-c-xs {
    padding-inline: var(--content-space-xs);
}

.px-c-sm {
    padding-inline: var(--content-space-sm);
}

.px-c-md {
    padding-inline: var(--content-space-md);
}

.px-c-lg {
    padding-inline: var(--content-space-lg);
}

.px-c-xl {
    padding-inline: var(--content-space-xl);
}

.py-c-xs {
    padding-inline: var(--content-space-xs);
}

.py-c-sm {
    padding-block: var(--content-space-sm);
}

.py-c-md {
    padding-block: var(--content-space-md);
}

.py-c-lg {
    padding-block: var(--content-space-lg);
}

.py-c-xl {
    padding-block: var(--content-space-xl);
}

.p-c-xs {
    padding: var(--content-space-xs);
}

.p-c-sm {
    padding: var(--content-space-sm);
}

.p-c-md {
    padding: var(--content-space-md);
}

.p-c-lg {
    padding: var(--content-space-lg);
}

.p-c-xl {
    padding: var(--content-space-xl);
}

.px-f-xs {
    padding-inline: var(--fixed-space-xs);
}

.px-f-sm {
    padding-inline: var(--fixed-space-sm);
}

.px-f-md {
    padding-inline: var(--fixed-space-md);
}

.px-f-lg {
    padding-inline: var(--fixed-space-lg);
}

.px-f-xl {
    padding-inline: var(--fixed-space-xl);
}

.py-f-xs {
    padding-inline: var(--fixed-space-xs);
}

.py-f-sm {
    padding-block: var(--fixed-space-sm);
}

.py-f-md {
    padding-block: var(--fixed-space-md);
}

.py-f-lg {
    padding-block: var(--fixed-space-lg);
}

.py-f-xl {
    padding-block: var(--fixed-space-xl);
}

.p-f-xs {
    padding: var(--fixed-space-xs);
}

.p-f-sm {
    padding: var(--fixed-space-sm);
}

.p-f-md {
    padding: var(--fixed-space-md);
}

.p-f-lg {
    padding: var(--fixed-space-lg);
}

.p-f-xl {
    padding: var(--fixed-space-xl);
}

.px-l-xs {
    padding-inline: var(--layout-space-xs);
}

.px-l-sm {
    padding-inline: var(--layout-space-sm);
}

.px-l-md {
    padding-inline: var(--layout-space-md);
}

.px-l-lg {
    padding-inline: var(--layout-space-lg);
}

.px-l-xl {
    padding-inline: var(--layout-space-xl);
}

.py-l-xs {
    padding-inline: var(--layout-space-xs);
}

.py-l-sm {
    padding-block: var(--layout-space-sm);
}

.py-l-md {
    padding-block: var(--layout-space-md);
}

.py-l-lg {
    padding-block: var(--layout-space-lg);
}

.py-l-xl {
    padding-block: var(--layout-space-xl);
}

.p-l-xs {
    padding: var(--layout-space-xs);
}

.p-l-sm {
    padding: var(--layout-space-sm);
}

.p-l-md {
    padding: var(--layout-space-md);
}

.p-l-lg {
    padding: var(--layout-space-lg);
}

.p-l-xl {
    padding: var(--layout-space-xl);
}

/*****
 ***
 ***    Utilities: Typography
 ***
*****/

.text-xl {
    font-size: var(--font-size-xl, 1.8rem);
}

.text-lg {
    font-size: var(--font-size-lg, 1.7rem);
}

.text-md {
    font-size: var(--font-size-md, 1.6rem);
}

.text-sm {
    font-size: var(--font-size-sm, 1.4rem);
}

.text-xs {
    font-size: var(--font-size-xs, 1.3rem);
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-code {
    font-family: monospace;
}

.text-primary-10 {
    color: var(--color-primary-10);
}

.text-primary-20 {
    color: var(--color-primary-20);
}

.text-primary-30 {
    color: var(--color-primary-30);
}

.text-primary-40 {
    color: var(--color-primary-40);
}

.text-primary-50 {
    color: var(--color-primary-50);
}

.text-primary-60 {
    color: var(--color-primary-60);
}

.text-primary-70 {
    color: var(--color-primary-70);
}

.text-secondary-10 {
    color: var(--color-secondary-10);
}

.text-secondary-20 {
    color: var(--color-secondary-20);
}

.text-secondary-30 {
    color: var(--color-secondary-30);
}

.text-secondary-40 {
    color: var(--color-secondary-40);
}

.text-secondary-50 {
    color: var(--color-secondary-50);
}

.text-secondary-60 {
    color: var(--color-secondary-60);
}

.text-secondary-70 {
    color: var(--color-secondary-70);
}

.text-accent-10 {
    color: var(--color-accent-10);
}

.text-accent-20 {
    color: var(--color-accent-20);
}

.text-accent-30 {
    color: var(--color-accent-30);
}

.text-accent-40 {
    color: var(--color-accent-40);
}

.text-accent-50 {
    color: var(--color-accent-50);
}

.text-accent-60 {
    color: var(--color-accent-60);
}

.text-accent-70 {
    color: var(--color-accent-70);
}

.text-neutral-10 {
    color: var(--color-neutral-10);
}

.text-neutral-20 {
    color: var(--color-neutral-20);
}

.text-neutral-30 {
    color: var(--color-neutral-30);
}

.text-neutral-40 {
    color: var(--color-neutral-40);
}

.text-neutral-50 {
    color: var(--color-neutral-50);
}

.text-neutral-60 {
    color: var(--color-neutral-60);
}

.text-neutral-70 {
    color: var(--color-neutral-70);
}

.text-base {
    color: var(--color-scheme-base);
}

.text-contrast {
    color: var(--color-scheme-contrast);
}

/*****
 ***
 ***   Work In Progress
 ***
*****/

