/*****
 ***
 ***   Utilities: Layout
 ***
*****/

.flex {
    display: flex;
}

.grid {
    display: grid;
}

/*****
 ***
 ***    Utilities: Typography
 ***
*****/

.text-xl {
    font-size: var(--font-size-xl, 1.8rem);
}

.text-lg {
    font-size: var(--font-size-lg, 1.7rem);
}

.text-md {
    font-size: var(--font-size-md, 1.6rem);
}

.text-sm {
    font-size: var(--font-size-sm, 1.4rem);
}

.text-xs {
    font-size: var(--font-size-xs, 1.3rem);
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}